@import "tailwindcss";
@import "tailwind-theme";

@plugin "../../hero.config.mjs";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";


body {
  background-attachment: fixed;
  background-size: cover;
}
